#about-page {
  margin-top: 70px;
  width: 90vw;

  .about-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;

    img {
      width: 300px;
    }
  }
  @media (min-width: 961px) {
    .about-art {
      flex-direction: row;
    }
  }
}
