.article {
  border-top: 1px solid #19323c;
  .art-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    * {
      padding: 20px;
    }
    img {
      width: 300px;
    }
    p {
    }
  }
}
