form {
  padding: 10px;
  border: 2px solid #fcab10;

  h2,
  h3 {
    margin: 0;
    text-align: center;
  }

  .form-input {
    padding-top: 5px;
  }

  .form-input:last-child {
    text-align: center;
  }

  .results-preview {
    display: flex;
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview-colors {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .btns {
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 180px;
    height: 60px;
    margin: 0 10px;
  }
}
