form {
  padding: 10px;
  border: 2px solid #fcab10;

  h2 {
    margin: 0;
    text-align: center;
  }

  .form-input {
    padding-top: 5px;
  }

  .form-input:last-child {
    text-align: center;
  }
}
